  body{
    width: 80%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
   color: rgb(56, 56, 56);
  }
  
  .header{
    background-color: rgb(25, 71, 40);
    padding: 0px 10px;
  }
  
  .header div{
    display: inline-block;
  }
  
  .header h1{
    color: #ffff;
    font-weight: 400;
  }
  
  .header span{
    color: rgb(249, 205, 7);
  }
  
  .header ul{
    list-style-type: none;
    padding-left: 80px;
  }
  
.header ul li{
  display: inline-block;
  margin-left: 20px;
  }
 
 .header ul li a{
   text-decoration: none;
   color: #ffff;
 } 
 .header ul li a:hover{
   color: rgb(249, 205, 7);
 }
 
 .banner{
   height: 400px;
   background-image: url(Gaye.jpeg);
   background-size: cover;
   margin-top: 10px;
   padding: 10%;
   }
   
   .banner h2{
     color: rgb(249, 205, 7); 
     font-size: 2.6em;
   }
  
  .banner p{
    color: #ffff;
    font-size: 1.3em;
  }
  
  .banner button{
    background-color:  rgb(25, 71, 40);
    color: rgb(249, 205, 7);
    width: 150px;
    height: 50px;
    border: 0px;
  }
  
  a{
    color: rgb(249, 205, 7);
  }
 
  .content iframe{
    float: right;
    margin: 10px;
  }
  
  .footer{
    background-color: rgb(25, 71, 40);
    color: #ffff;
    height: 60px;
    text-align: center;
    padding-top: 10px;
  }
  
  .container{
    background-color: darkseagreen;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
  }
 .container form{
   padding: 5px;
 }
 
